

    
main{
display: flex;
  }  
.bloque2{
    display: flex;
    flex-direction: column;
   
}


h1{ 
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    background-color: rgb(1, 32, 73);
    border: 5px solid rgb(33, 127, 250);
}
h2{
    color: #616804;
text-shadow: black;
background-color: rgb(221, 228, 233);
}
body{
    background-image: url('casa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section{
    display: flex;
    flex-direction: column;
    
   
 }
.primera{
    width: 50%;
    background-color: rgb(78, 200, 236);

    

   
}
.bloque {
    width: 50%;
    background-color: rgb(78, 200, 236);
    
}
nav{ 
    height: 200px;

}
.menu{
    font-size: 30px;
    text-decoration: none;
    color: #14130e;
    font-weight: bold;
    background-color: #86f0ea;
}
.intro{
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;


}
   aside{

    background-color: #5eebf5;
    width: 50%;
    padding: 10px;
   }
    .fiesta{
        
        background-color: rgb(146, 215, 255);
    }
 a{
    font-size: 30px;
    text-decoration: none;
    color: #14130e;
    font-weight: bold;
    background-color: #92f086;
 }
 form{ 
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    font-weight: bold;
    background-color: #8699f0;
    

 }